.wrapper {
    position: relative;
}

.dropzone {
    border-width: 1px;
    padding-bottom: 50px;
    margin-top: 28px;
    border-radius: 8px;
    height: 30vh;
}

.icon {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.control {
    position: absolute;
    width: 250px;
    left: calc(50% - 125px);
    bottom: -20px;
    background-color: slategrey;
}